.setting_button .btn.focus, .setting_button .btn:focus {
	box-shadow: none;
}
.setting_button button {
	margin: 5px;
}
.search_part {
	margin: 0 auto;
	text-align:center;
}
.search_part_mail {
	border: 1px solid #00adef;
	padding:15px;
	margin: 5px;
}
.dash-button a {
	color: inherit;
}
#main, #main_two, #main_three, #main_four, #main_five, #main_six{
	clear:right;
	border: 2px solid #00adef;
	height:65px;
	width:100px;
}

#create_moderator, #viwe_moderators, #change_pass, #edit_profile, #bath_room_diff, #room_cat_id, #others_cat, #day_basis_rent, #room_bed_basis, #another_mobile_id_3, #mobile_add_3, #mobile_add_2, #another_mobile_id, #land_cat, #unit_cat, #sell, #rent, #details_info, #interested_peo, #bed, #bath, #rent_cat, #sell_cat, #interested_cat, #details_form, #another_mobile, #main, #main_two, #main_three, #main_four, #main_five, #main_six, #imgtwo, #imgthree, #imgfour, #imgfive, #imgsix{
  display: none;
}
#publish{
	margin-bottom: 20px;
}
.dash-form {
}
.single-option a, .add-share a {
    margin-right: 10px;
}
.dash-button .btn {
    margin-bottom: 10px;
}
.btn {
    background-color: #00adef !important;
    color: #fff !important;
    border: 1px solid transparent !important;
    text-decoration: none !important;
    border-radius: 5px !important;
    font-weight: 400 !important;
}
.btn:hover, .top_add_button a:hover{
    background-color: transparent !important;
    color: #00adef !important;
    text-decoration: none !important;
    border: 1px solid #00adef !important;
    border-radius: 5px !important;
    font-weight: 400 !important; 
}
.btn:visited, .btn:focus, .btn:active{
    background-color: transparent !important;
    color: #00adef !important;
    text-decoration: none !important;
    border: 1px solid #00adef !important;
    border-radius: 5px !important;
    font-weight: 400 !important;
}
.table, th {
	text-align: center;
}
a, a:hover {
	text-decoration: none;
}
.make-add {
    margin-top: 20px;
}
.pagi-brand {
    text-align: center;
}
.pagination {
    display: inline-flex;
    padding-left: 0;
}
.flat-single .table, .flat-single th {
    text-align: left;
}
.flat-single td {
    padding: 7px 0px 7px 10px;
}
.inline-text {
    margin: 0;
    padding: 0;
}
.report {
    border: 2px solid red;
    padding: 5px;
    margin-bottom: 10px;
}
.report p {
    margin: 0;
    padding: 0;
}