/* Chat containers */
.container-message {
    border: 2px solid #9e9a9a;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}
.container-message img {
	border: 2px solid #00adef;
}
.container-message:hover {
	background: #fff;
	border: 2px solid #00adef;
}

/* Darker chat container */
.darker {
    border-color: #000;
    background-color: #ddd;
}

/* Clear floats */
.container-message::after {
    content: "";
    clear: both;
    display: table;
}

/* Style images */
.container-message img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

/* Style the right image */
.container-message img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}

/* Style time text */
.time-right {
    float: right;
    color: #aaa;
}

/* Style time text */
.time-left {
    float: left;
    color: #999;
}
.message-sending-box {
	padding-bottom: 20px;
}
.message-sending-box .form-control {
    border: 2px solid #00adef;
}
.message-sending-box .btn {
    border: 2px solid #00adef;
}