*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Hind Siliguri', sans-serif !important;
    height: auto;
}
.make-add {
    margin-top: 20px;
}
.make-add .btn{
    background: #fdb107;
}
label {
    font-weight: 300;
}
.modal-header .close {
    margin-top: -22px;
}
/*body{
    font-family: sans-serif;
    
    overflow: hidden;
}*/
img {
    max-width: 100%;
    height: auto;
}
header{
    height: auto;
    background: #000;
    overflow: hidden;
    position: fixed;
    width: 100%;
    opacity: 0.8;
    z-index: 99999;
    box-shadow: -2px -7px 47px 9px rgba(0,0,0,0.35);
    -moz-box-shadow: -2px -7px 47px 9px rgba(0,0,0,0.35);
    -webkit-box-shadow: -2px -7px 47px 9px rgba(0,0,0,0.35);
}

.logo-section{
    float: left;
    padding-top: 5px;
}

.hb-button{
    float: right;
    background: #222;
    color: #ffffff;
    border: none;
    font-size: 18px;
    padding: 5px 10px;
    margin-top: 9px;
    border-radius: 3px;
    cursor: pointer;
    display: none;
}

nav a{
    text-decoration: none;
    color: #282828;
    font-size: 20px;
    font-weight: 300px;
}
nav a:hover{
    text-decoration: none;
}
nav ul{
    overflow: hidden;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
    transition: max-height 0.5s;
    -webkit-transition: max-height 0.5s;
    -moz-transition: max-height 0.5s;
    -ms-transition: max-height 0.5s;
    -o-transition: max-height 0.5s;
}
.top_add_button a {
	padding: 2px 7px;
    border: 1px solid transparent;
    background-color: #00adef;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
.btn {
    background-color: #00adef;
    color: #fff;
    border: 1px solid transparent;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 400;
}
.btn:hover, .top_add_button a:hover{
    background-color: transparent;
    color: #00adef;
    text-decoration: none;
    border: 1px solid #00adef;
    border-radius: 5px;
    font-weight: 400; 
}
.btn:visited, .btn:focus, .btn:active{
    background-color: transparent;
    color: #00adef;
    text-decoration: none;
    border: 1px solid #00adef;
    border-radius: 5px;
    font-weight: 400;
}
nav ul li{
    float: right;
    display: inline-block;
    padding: 20px;
}

li > a{
    position: relative;
    color: #00adef;
    text-decoration: none;
}

li > a:hover{
    color: #00adef;
}

li > a:before{
    content:"";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0072bb;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

li > a:hover:before{
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
@media screen and (max-width: 768px){
    .logo-section{
        float: none;
    }
    nav ul{
        background: #ffffff;
        max-height: 0;
        width: 100%;
    }
    nav ul.show{
        max-height: 20em;
    }
    nav ul li{
        box-sizing: border-box;
        width: 100%;
        padding: 15px;
    }
    .hb-button{
        display: inline;
    }
    footer {
        text-align: center;
    }
    footer img {
        width: 50%;
    }
    .right-nav li{
        text-align: center !important;
    }
}


@media screen and (min-width: 1170px){ 
	.related-item .col-md-3 {
		width: 23%;
	}
}
